{% extends "website/base.html" %}
{% load i18n %}


{% block content %}
<div class="container text-center mb-5">
    <h2>Shop</h2>
</div>

<div class="container text-center">
    {% if products %}
    {% for product in products %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="{{ product.name }}">
                {% else %}
                <img src="https://via.placeholder.com/300" class="img-fluid rounded-start" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    {% if product.name %}
                    <h5 class="card-title">{{ product.name }}</h5>
                    {% else %}
                    <h5 class="card-title">Name</h5>
                    {% endif %}
                    {% if product.description %}
                    <p class="card-text">{{ product.description }}</p>
                    {% else %}
                    <p class="card-text">Description</p>
                    {% endif %}
                    {% if product.price %}

                    <p class="card-text">{{ product.price }}</p>
                    {% else %}
                    <p class="card-text">Price</p>
                    {% endif %}
                    {# <a href="{% url 'shop:product-detail' product.id %}" class="btn btn">View Product</a> #}

                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <p>{% trans "There are no products available at this time. 😟" %}</p>
    {% endif %}
</div>
{% endblock %}